<div id="player_info">
  <input type="text" id="name"></input>
</div>
<hr />
<div id="game_container">
</div>

<hr />
<div id="controls">
  <button id="show_more">show more</div>
  <button id="new_game">new game</div>
</div>
<hr />
<div id="scores">
  <table>
    <tbody>
    </tbody>
  </table>
</div>
